.floor-plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.floor-buttons {
    display: flex;
}

.block-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: flex-start;
}