.tender-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      transform: translateY(-1px);
      box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  
      .tender-card__title {
        color: #1e90ff;
      }
    }
  
    &__content {
      padding: 30px;
    }
  
    &__title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 12px;
      color: #222;
      transition: color 0.6s ease;
  
      display: -webkit-box;
      -webkit-line-clamp: 2; /* ограничиваем до двух строк */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  