.footer {
    li {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 15px;
        line-height: 150%;
        color: #00091b;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 40px;
        text-align: right;
        justify-content: flex-end;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__adress {
        text-align: center;
    }

    &__title {
        font-weight: 500;
        font-size: 19px;
        line-height: 110%;
        color: #00091b;
        @apply md:text-[30px];
    }

    li {
        @apply mt-[10px];
    }

    a {
        @apply text-[15px] font-sans font-medium text-[#00091B];
    }
}