.bg-moskva-siti {
    background-image: url('../../assets/images/AllObjects/moscow.png');
}

.bg-evropa {
    background-image: url('../../assets/images/AllObjects/europe.png');
}

.bg-moskva {
    background-image: url('../../assets/images/AllObjects/moscow 2.png');
}

.bg-elisey {
    background-image: url('../../assets/images/AllObjects/elisey.png');
}

.bg-salkyn {
    background-image: url('../../assets/images/AllObjects/salkyn-tor.png');
}

.bg-panorama {
    background-image: url('../../assets/images/AllObjects/panorama.png');
}