@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  30%{
    opacity: 1;
    transform: translateY(80%);
  }
  50%{
    opacity: 2;
    transform: translateY(90%);
  }
  100% {
    opacity: 3;
    transform: translateY(0%);
  }
}
@keyframes logoAppear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.logo-animation {
  animation: logoAppear 1s ease-out forwards;
}

.fade-out {
  animation: fadeOut 1s ease-in forwards; 
}

.letter-A {
  transform: 1s;
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0s;
}

.vangard {
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.6s;
}
